@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #191B1D;
}

canvas {
  display: block;
  position: absolute;
}

.App-header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

header .App-title .title {
  color: #fff;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  position: relative;
  cursor: default;
}

.underlined {
  position: absolute;
  width: 100%;
  background: rgba(116, 250, 80, 0.5);
  border-radius: 80px;
  height: 2px;
  top: 110%;
  left: 10%;
}

.App-nav-buttons {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.nav-button {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  cursor: pointer;
  position: relative;
}

.left-corner {
  position: absolute;
  height: 24px;
  width: 24px;
  background: #F7F7F8;
  bottom: 0;
  left: -24px;
}

.right-corner {
  position: absolute;
  height: 24px;
  width: 24px;
  background: #F7F7F8;
  bottom: 0;
  right: -24px;
}

.inner-corner {
  height: 100%;
  width: 100%;
  background: #191B1D;
}

.inner-corner-left {
  border-radius: 0px 0px 24px 0px;
}

.inner-corner-right {
  border-radius: 0px 0px 0px 24px;
}

.inner-color {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: #F7F7F8;
  border-radius: 24px 24px 0px 0px;
}

.nav-button-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  position: relative;
  margin: 0;
}

.center-underlined {
  position: absolute;
  width: 50%;
  background: rgba(116, 250, 80, 1);
  border-radius: 80px;
  height: 2px;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
}

.nav-button-text-active {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #252525;
}

.nav-button-text-innactive {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.1);
}

.nav-button-active {
  background: #F7F7F8;
  border-radius: 24px 24px 0 0;
}

.left-options {
  display: flex;
  flex-direction: column;
  height: calc(100% - 88px);
}

.App-body {
  height: 90vh;
  overflow: hidden;
  width: 100%;
  background: #F7F7F8;
  border-radius: 36px 36px 0 0;
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

.App-body > *:not(:first-child) {
  margin-left: 60px;
}

.App-body-left {
  grid-column: 1 / 2;
  background: #191B1D;
  width: 100%;
  height: 100%;
  border-radius: 36px;
  padding: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.left-title-text {
  position: relative;
  color: #FFFFFF;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  display: inline-block;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  margin: 0;
}

.left-icon {
  background: #F0F0F0;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 24px 0 0;
}

.left-title {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.left-code-input {
  background: #2F3133;
  border-radius: 32px;
  width: 100%;
  height: 100%;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  color: #FFFFFF;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  height: calc(100% - 88px);
  border: none;
  resize: none;
}

.left-code-input:focus {
  outline: none;
}

.algorithm-input {
  height: calc(100% - 144px);
}

.run-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(25, 27, 29);
  position: absolute;
  bottom: 80px;
  right: 80px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

.run-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(-5px);
  background: rgba(25, 27, 29, 0.8);
}

.run-button img {
  margin-left: 2px;
}

.App-body-right {
  grid-column: 2 / 4;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 36px;
  padding: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; 
}

.right-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.right-title-left {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  color: #252525;
  margin: 0;
}

.right-title-right {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  color: rgba(37, 37, 37, 0.3);
  margin: 0;
}

.horizontal-gridline {
  border: 1px solid rgba(37, 37, 37, 0.3);
}

.left-options-algorithms {
  background: #2F3133;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  margin-bottom: 24px;
  position: relative;
}

.left-options-algorithms p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  align-self: center;
  justify-self: center;
  margin: 0;
  height: 60px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.vertical-separator {
  width: 1px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  background: #3A3C3E;
}

.horizontal-separator {
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  background: #3A3C3E;
}

p.selected-algo {
  color: #74FA50;
}

.left-code-input::-webkit-scrollbar {
  width: 0px;
}

.refresh-button {
  text-decoration: underline;
  cursor: pointer;
}

.algos-canvas {
  border: 2px solid #2F3133;
  border-radius: 36px;
}

.App-header-min {
  justify-content: center;
  align-items: center;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: drop-shadow(0px 14px 30px rgba(0, 0, 0, 0.15));
}

.App-body-min {
  background-color: #fff;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.warning-min{
  width: 66vw;
  height: 33vh;
  margin: 0 auto;
  background: linear-gradient(179.19deg, #76f499 0.7%, #1ad57b 101.21%), #D9D9D9;
  border-radius: 34px;
  filter: drop-shadow(2px 4px 20px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 42px;
}

.handIcon {
  height: 62px;
  width: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
}

.handIcon img {
  width: 32px;
}

.warning-min-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}

.go-to {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #252525;
}

.link {
  text-decoration: underline;
  color: #A5FF8C;
}

.transition-title-main {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 2px;
  font-size: 60px;
  align-self: center;
  justify-self: flex-start;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  line-height: 1.2em;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 400;
  width: 100%;
}

.transition-title {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 2px;
  font-size: 40px;
  align-self: center;
  justify-self: flex-start;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  line-height: 1.2em;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 400;
  width: 100%;
}

.custom-svg {
  width: 100%;
}

.hi-there {
  margin-bottom: 24px;
}